.cell-item {
    cursor: pointer;
    background-color: rgb(16, 142, 233);
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}